@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200,400&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(161, 100, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  border: grey;
  border-radius: 5px;

  border-color: white;
  color: white;
  margin: 8px;
  padding: 1.5rem 3rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  background-size: 0.98;
  opacity: 0.9;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.btn:focus {
  outline: none;
}
